body{
    height: 100vh;
    background-image: url(../sfondo.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.blocco{
    background-color: white;
    border: 3px solid black;
    height:calc(100vh/5);
    position: relative;
}

.numero{
    font-weight: bold;
}
